<!-- <div class="alert alert-success" *ngIf='success'>{{success}}</div> -->
<div class="alert alert-danger" *ngIf='failure'>{{failure}}</div>
<!-- <div class="d-flex align-items-center" *ngIf='!success' >
        <strong>Loading...</strong>
        <div class="spinner-border ml-auto" role="status" aria-hidden="true" style="color: teal;"  ></div>
      </div> -->
<div class="col-md-4 offset-md-4 mt-4">
<div class="card">
        <div class="card-header font-weight-bold  text-light" style="background: rgb(0, 143, 143);">
                <h2>Login </h2>
        </div>
        <div class="card-body">
                        <form #loginSubmit='ngForm' (ngSubmit)='loginUser(loginSubmit)'>
                                <div class="form-group">
                                        <label for="adminName">User Name</label>
                                        <input type="text" name="adminName" id="adminName" value="adminName"
                                                #adminName='ngModel' ngModel class="form-control" required>
                                </div>

                                <div class="form-group">
                                        <label for="adminPassword">User Password</label>
                                        <input type="password" name="adminPassword" id="adminPassword" value="adminPassword"
                                                #adminPassword='ngModel' ngModel class="form-control" required>
                                </div>
                               
                                <div class="form-group">
                                        <button [disabled]='loginSubmit.form.invalid' type="submit" class="btn btn-primary float-right " >
                                                Login
                                        </button>
                                </div>
                        </form>
                </div>
        </div>
</div>